@model MediationApplication.Models.JournalEntryDto

@{
    ViewBag.Title = "Details";
}

<nav class="subNav">
    <a class="backLink" href="/JournalEntry/List">Back to List</a>
    <a class="btn updateLink" href="/JournalEntry/Edit/@Model.JournalEntryID">Update</a>
    <a class="btn deleteLink" href="/JournalEntry/DeleteConfirmation/@Model.JournalEntryID">Delete</a>
</nav>

<div class="container-fluid">
    <h2>@Model.SessionDate.ToString("dddd, MMMM dd, yyyy")</h2>
    <h3 class="text-center"><em>Duration - @Model.SessionDuration</em></h3>

    <div>
        <h4>Meditation Location:</h4>
        <p class="entryTxt">@Model.Location</p>

        <h4>Feeling(s) before meditating:</h4>
        <p class="entryTxt">@Model.MoodBefore</p>

        <h4>Feeling(s) after meditating:</h4>
        <p class="entryTxt">@Model.MoodAfter</p>

        <h4>Thoughts and Ideas:</h4>
        <p class="entryTxt">@Model.Thoughts</p>
    </div>
</div>