@model MediationApplication.Models.JournalEntryDto

@{
    ViewBag.Title = "Details";
}

<nav class="subNav">
    <a class="backLink" href="/MeditationSession/List">Back to List</a>
    <a class="btn updateLink" href="/JournalEntry/Edit/@Model.JournalEntryID">Update</a>
    <a class="btn deleteLink" href="/JournalEntry/DeleteConfirmation/@Model.JournalEntryID">Delete</a>
</nav>

<h2>@Model.SessionDate.ToString("dddd, MMMM dd, yyyy")</h2>
<h3><em>Duration - @Model.SessionDuration</em></h3>

<div>
    <p>Meditation Location: @Model.Location</p>
    <p>Feeling(s) before meditating: @Model.MoodBefore</p>
    <p>Feeling(s) after meditating: @Model.MoodAfter</p>
    <p>Thoughts and Ideas: @Model.Thoughts</p>
</div>