@model MediationApplication.Models.ViewModels.UpdateEntry
@{
    ViewBag.Title = "Edit";
}

<nav class="subNav">
    <a class="backLink" href="/JournalEntry/List">Back to list</a>
</nav>

<h2>Update Journal Entry for @Model.SelectedEntry.SessionDate.ToString("dddd, MMMM dd, yyyy")</h2>

<form action="/JournalEntry/Update/@Model.SelectedEntry.JournalEntryID" method="POST">
    <div>
        <label>Select Meditation Session</label>
        <select name="SessionID">
            @foreach (var sessions in Model.SessionOptions)
            {
                var selected = "";

                if (sessions.SessionID == Model.SelectedEntry.SessionID)
                {
                    selected = "selected";
                }
                <option value="@sessions.SessionID" @selected>@sessions.SessionDate.ToString("dddd, MMMM dd, yyyy")</option>
            }
        </select>
    </div>
    <div style="display: none;">
        <input type="text" name="JournalEntryID" value="@Model.SelectedEntry.JournalEntryID" />
    </div>
    <div>
        <label>Where did you meditate?</label>
        <div>
            @{
                string indoor = Model.SelectedEntry.Location == "indoors" ? "checked" : "";
                string outdoor = Model.SelectedEntry.Location == "outdoors" ? "checked" : "";
            }
            <input id="indoor" type="radio" name="Location" value="indoors" @indoor />
            <label for="indoor">Indoors</label>

            <input id="outdoor" type="radio" name="Location" value="outdoors" @outdoor />
            <label for="outdoor">Outdoors</label>
        </div>
    </div>
    <div>
        <label for="moodbefore">How did you feel before meditating?</label>
        <input id="moodbefore" type="text" name="MoodBefore" value="@Model.SelectedEntry.MoodBefore" />
    </div>
    <div>
        <label for="moodafter">How do you feel now?</label>
        <input id="moodafter" type="text" name="MoodAfter" value="@Model.SelectedEntry.MoodAfter" />
    </div>
    <div>
        <div>
            <label for="thoughts">What's on your mind?</label>
        </div>
        <textarea id="thoughts" cols="40" rows="10" name="Thoughts">@Model.SelectedEntry.Thoughts</textarea>
    </div>
    <button class="btn updateBtn" type="submit">Update Entry</button>
</form>