@model MediationApplication.Models.MeditationSessionDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update a Session</h2>

<form action="/Meditationsession/Update/@Model.SessionID" method="POST">
    <div>
        <input id="id" type="text" name="SessionID" value="@Model.SessionID" />
    </div>
    <div>
        <label for="date">Date</label>
        <input id="date" type="date" name="SessionDate" value="@Model.SessionDate.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <label for="startTime">Start Time</label>
        <input id="startTime" type="time" name="SessionStartTime" value="@Model.SessionStartTime.ToString("hh:mm")" />
    </div>
    <div>
        <label for="endTime">End Time</label>
        <input id="endTime" type="time" name="SessionEndTime" value="@Model.SessionEndTime.ToString("hh:mm")"/>
    </div>
    <div>
        <label for="duration">Duration</label>
        <select id="duration" name="SessionDuration">
            <option value="@Model.SessionDuration">@Model.SessionDuration</option>
            <option value="30">30 minutes</option>
            <option value="1">1 hour</option>
            <option value="2">2 hours</option>
        </select>
    </div>
    <div>
        <label for="mantra">Mantra</label>
        <input type="text" name="MantraName" value="@Model.MantraName" />
    </div>
    <button type="submit">Update</button>
</form>