@model MediationApplication.Models.ViewModels.UpdateSession

@{
    ViewBag.Title = "Edit";
}

<h2>Update Meditation Session for @Model.SelectedSession.SessionDate.ToString("MMM dd, yyyy")</h2>

<form action="/Meditationsession/Update/@Model.SelectedSession.SessionID" method="POST">
    <div style="display:none;">
        <input id="id" type="text" name="SessionID" value="@Model.SelectedSession.SessionID" />
    </div>
    <div>
        <label for="date">Date</label>
        <input id="date" type="date" name="SessionDate" value="@Model.SelectedSession.SessionDate.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <label for="startTime">Start Time</label>
        <input id="startTime" type="time" name="SessionStartTime" value="@Model.SelectedSession.SessionStartTime.ToString("hh:mm")" />
    </div>
    <div>
        <label for="endTime">End Time</label>
        <input id="endTime" type="time" name="SessionEndTime" value="@Model.SelectedSession.SessionEndTime.ToString("hh:mm")"/>
    </div>
    <div>
        <label for="duration">Duration</label>
        <select id="duration" name="SessionDuration">
            <option value="@Model.SelectedSession.SessionDuration">@Model.SelectedSession.SessionDuration</option>
            <option value="30">30 minutes</option>
            <option value="1">1 hour</option>
            <option value="2">2 hours</option>
        </select>
    </div>
    <div>
        <label>Mantra</label>
        <select name="MantraID">
            @foreach (var mantras in Model.MantraOptions)
            {
                var selected = "";

                if (mantras.MantraID == Model.SelectedSession.MantraID)
                {
                    selected = "selected";
                }
                <option value="@mantras.MantraID" @selected>@mantras.MantraName</option>
            }
        </select>
    </div>
    <button class="btn updateBtn" type="submit">Update</button>
</form>