@model MediationApplication.Models.ViewModels.DetailsMantra

@{
    ViewBag.Title = "Details";
}

<div class="subNav">
    <a class="btn backLink" href="/Mantra/List">Back to List</a>
    <a class="btn updateLink" href="/Mantra/Edit/@Model.SelectedMantra.MantraID">Update</a>
    <a class="btn deleteLink" href="/Mantra/DeleteConfirmation/@Model.SelectedMantra.MantraID">Delete</a>
</div>

<div class="container-fluid text-center" style="padding-bottom: 100px; border-bottom: 2px solid #2DC2BD;">
    <h2>@Model.SelectedMantra.MantraName</h2>
    
    <div>
        @foreach(var categories in Model.RelatedCategories)
        {
            <a style="background-color: @categories.CategoryColour; color: #ffffff;" class="btn" href="/Category/Details/@categories.CategoryID">@categories.CategoryName</a>
            <a style="margin-right: 10px; color: @categories.CategoryColour;" href="/Mantra/UnAssign/@Model.SelectedMantra.MantraID?CategoryID=@categories.CategoryID">[x]</a>
        }
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Meditation Sessions that used this Mantra</h3>

            @foreach (var session in Model.RelatedSessions)
            {
                <a class="card-title" href="/MeditationSession/Details/@session.SessionID">@session.SessionDate.ToString("dddd, MMMM dd, yyyy")</a>
            }
        </div>
        <div class="col-md-6">
            <h3>Assign Category</h3>
            <form action="/Mantra/Assign/@Model.SelectedMantra.MantraID" method="POST">
                <select name="CategoryID">
                    @foreach(var category in Model.UnassignedCategories) 
                    { 
                        <option value="@category.CategoryID">@category.CategoryName</option>
                    }
                </select>
                <button class="btn formBtn" type="submit">Assign Category</button>
            </form>
        </div>
    </div>
</div>